{{#each personas}}
{{#if primary}}
<div class="screen">
  {{> profile-card}}
  <div class="posts">
  {{#if posts}}
  {{#each posts}}
  {{> post-article}}
  {{/each}}
  {{else}}
  <p class="empty">{{t "public.no_posts"}}</p>
  {{/if}}
  </div>
</div>
{{/if}}
{{/each}}
